<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN" "http://java.sun.com/dtd/web-app_2_3.dtd">
<web-app>
  <servlet>
    <servlet-name>AddCustServlet</servlet-name>
    <servlet-class>com.killua.web.AddCustServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ListCustServlet</servlet-name>
    <servlet-class>com.killua.web.ListCustServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CustInfoServlet</servlet-name>
    <servlet-class>com.killua.web.CustInfoServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UpdateCustServlet</servlet-name>
    <servlet-class>com.killua.web.UpdateCustServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DelCustServlet</servlet-name>
    <servlet-class>com.killua.web.DelCustServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>BatchDelServlet</servlet-name>
    <servlet-class>com.killua.web.BatchDelServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>FindCustByCondServlet</servlet-name>
    <servlet-class>com.killua.web.FindCustByCondServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>PageCustServlet</servlet-name>
    <servlet-class>com.killua.web.PageCustServlet</servlet-class>
  </servlet>








  <servlet-mapping>
    <servlet-name>AddCustServlet</servlet-name>
    <url-pattern>/servlet/AddCustServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ListCustServlet</servlet-name>
    <url-pattern>/servlet/ListCustServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CustInfoServlet</servlet-name>
    <url-pattern>/servlet/CustInfoServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UpdateCustServlet</servlet-name>
    <url-pattern>/servlet/UpdateCustServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DelCustServlet</servlet-name>
    <url-pattern>/servlet/DelCustServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>BatchDelServlet</servlet-name>
    <url-pattern>/servlet/BatchDelServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FindCustByCondServlet</servlet-name>
    <url-pattern>/servlet/FindCustByCondServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PageCustServlet</servlet-name>
    <url-pattern>/servlet/PageCustServlet</url-pattern>
  </servlet-mapping>
  
  <error-page>
  	<error-code>500</error-code>
  	<location>/error/500.jsp</location>
  </error-page>
   <error-page>
  	<error-code>404</error-code>
  	<location>/error/404.jsp</location>
  </error-page>

</web-app>